body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.quiz-container {
    width: 60%;
    height: 480px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


}

.question {
    background-color: #b2ebe0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#countdownContainer {
    top: 10px;
    right: 10px;
    padding: 10px;
}

.options {
    margin-top: 20px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #9853b3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7d23f3;
}
